<!DOCTYPE html>
<html>
<head>
  <title>RORBG Articles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= render 'layouts/nav' %>
      <%= bootstrap_flash %>
      
      <div class='container'>
        <%= yield %>
      </div>

      <%= render 'layouts/foot' %>
    </div>
  </div>

</body>
</html>
